<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mlhh.css"></link>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
</head>
<body>
   <div class="backimg">
  
    <table id="header" border="0" width="100%"
    cellpadding="0"  cellspacing="0" bgcolor="6F9741">
  <tr>
     <td> 
         <table border="0" cellpadding="15" cellspacing="0" width="90%" align="centre"  >
             <tr>
                 <td>
                   

                 </td>
                 <td>
                     <font fase="Comic sans MS" size="6" color="black">
                        <img src="https://www.freepnglogos.com/uploads/logo-home-png/chimney-home-icon-transparent-1.png" height="22px" width="22px">
                         <b>Home</b>
                     </font>
                 </td>
                  <td width="15%"></td>
 
                 </td>
                
                 <td>
                     <a href="#activity" style="text-decoration:none" style="margin-left: 30px;">
                     <font face="verdana" size="4" color="white">
                         activity 
                     </font>
                   </a>
                 </td>
                 <td>
                     <a href="#logout" style="text-decoration:none">
                     <font face="verdana" size="4" color="white">
                         logout
                         <img src="https://cdn.icon-icons.com/icons2/2469/PNG/512/logout_bracket_icon_149439.png" height="22px" width="22px" style="margin-top: 10-lpx;">
                     </font>
                     </a>
                 </td>
                
             </tr>
         </table>
     </td>
 </tr>
 </table>

 <div class="contain">
<tr>
    <td>
    <P style="margin-left: 20px;">{% if noupdates today %}WHAT DID YOU DO TODAY</P>
    <p style="margin-left: 20px;">{% if updated today %}</p>
</td>
</tr>

<div class="contain1">
    <tr>
        <td>
            <pre style="margin-left: 10px ;margin-top: 5px;">08/04/2022                              totle ce </pre> 
        </td>
    </tr>
    <tr>
        <td>
            <pre style="margin-left: 10px; margin-top: 20px;">Train Travel               ce    <input type="text" value="enter distance" style="font-family: Itim;"></button>  <button  type="delete" style="font-family: Itim;">delete</button></pre>
        </td>
        <td>
            <pre style="margin-left: 10px; margin-top: 20px;">Cab Travel                 ce    <input type="text" value="enter distance" style="font-family: Itim;"></button>  <button  type="delete" style="font-family: Itim;">delete</button></pre>
        </td>
    </tr>
 
</div>


<p style="margin-top: 30px; margin-left: 20px; font-size:30px;" >--->>recent activity</p>
<div class="contain2">
    <tr>
        <td>
            <pre style="margin-left: 10px ;margin-top: 5px;">06/09/2024                              totle ce </pre> 
        </td>
    </tr>
    <tr>
        <td>
            <pre style="margin-left: 10px; margin-top: 20px;">Train Travel               ce    <input type="text" value="enter distance" style="font-family: Itim;"></button>  <button  type="delete" style="font-family: Itim;">delete</button></pre>
        </td>
        <td>
            <pre style="margin-left: 10px; margin-top: 20px;">Cab Travel                 ce    <input type="text" value="enter distance" style="font-family: Itim;"></button>  <button  type="delete" style="font-family: Itim;">delete</button></pre>
        </td>
    </tr>
</div>



</div>

</div>
</body>
</html>

